#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
}
#lobby-container {
    display: flex;
}
.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid #000;
}